body {
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    margin: auto;
    background-color: white;
}

a {
    text-decoration: none;
}

/* Header e NavBar */
header, header nav, #titulo-principal-container, #dark-mode, #login {
    display: flex;
}

.dark-mode-on {
    flex-direction: row-reverse;
}

header {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
}

#menu-principal {
    justify-content: space-between;
    align-items: center;
}

#menu-principal a{
    margin: 15px;
    font-size: 0.75em;
}

#logo {
    width: 100px;
}

#menu {
    margin-right: 20px;
} 

#dark-mode {
    height: 18px;
    font-size: 10px;
    border-radius: 15px;
}

#dark-mode-off {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px 3px;
}

#login {
    width: 300px;
    align-items: center;
}

/* Conteúdo Principal */
main {
    padding-top: 50px;
}

#microfone, #titulo-principal {
    margin: 15px;
    padding: 0px 40px;
}

#microfone {
    width: 40%;
}

#titulo-principal {
    width: 60%;
}

#imgmicrofone {
    width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 45px;
}

#titulo-principal p {
    width: 275px;
    margin: 25px 0 25px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

#icone-titulo {
    position: absolute;
}

u {
    text-decoration: none;
    background-image: linear-gradient(90deg,red, blue);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: left bottom;
}

#button-free-trial {
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(43, 43, 167, 0.653);
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 5px;
}

/* Weekly */

#weekly {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
    margin: 10px;
}

#carrossel {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

#carrossel-item-1, #carrossel-item-2, #carrossel-item-3 {
    width: 275px;
    display: flex;
    align-items: center;
    position: relative;
}

.icone-carrossel {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel-titulos {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: bold;
}

.carrossel-caster {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 15px;
}

.icone-play {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(90deg);
}

.carrossel-tempo {
    font-size: 0.85em;
    font-weight: bold;
}



#lista li{
    align-self: center;
    background-color: red;
}
