body {
    font-family: 'Roboto', sans-serif;
    width: 1000px;
    margin: auto;
    background-color: white;
}

a {
    text-decoration: none;
}

h3 {
    font-size: 1.3em;
}

/* Header e NavBar */
header, header nav, #titulo-principal-container, #dark-mode, #login {
    display: flex;
}

.dark-mode-on {
    flex-direction: row-reverse;
}

header {
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    background-color: white;
}

#menu-principal {
    justify-content: space-between;
    align-items: center;
}

#menu-principal a{
    margin: 15px;
    font-size: 0.75em;
}

#logo {
    width: 100px;
}

#menu {
    margin-right: 20px;
} 

#dark-mode {
    height: 18px;
    font-size: 10px;
    border-radius: 15px;
}

#dark-mode-off {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 0px 3px;
}

#login {
    width: 300px;
    align-items: center;
}

/* Conteúdo Principal */
main {
    padding-top: 50px;
}

#microfone, #titulo-principal {
    margin: 15px;
    padding: 0px 40px;
}

#microfone {
    width: 40%;
}

#titulo-principal {
    width: 60%;
}

#imgmicrofone {
    width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    line-height: 45px;
}

#titulo-principal p {
    width: 275px;
    margin: 25px 0 25px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
}

#icone-titulo {
    position: absolute;
}


u {
    text-decoration: none;
    background-image: linear-gradient(90deg,red, blue);
    background-repeat: no-repeat;
    background-size: 100% 7px;
    background-position: left bottom;
}

#button-free-trial {
    color: white;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(43, 43, 167, 0.653);
    height: 40px;
    width: 110px;
    border: none;
    border-radius: 5px;
}

/* Weekly */

#weekly {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 1.5em;
    font-weight: 600;
    margin: 20px 0px;
    line-height: 1.3em;
}

#carrossel {
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.carrossel-itens {
    width: 275px;
    display: flex;
    align-items: center;
    position: relative;
}

.icone-carrossel {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrossel-titulos {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: bold;
}

.carrossel-caster {
    font-size: 0.8em;
    font-weight: bold;
    margin-bottom: 15px;
}

.icone-play {
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(90deg);
}

.carrossel-tempo {
    font-size: 0.85em;
    font-weight: bold;
}

/* nomear e inserir CSS da organização da pessoa com fone e lista */
#diferenciais {
    display: flex;
    justify-content: center;
    padding: 50px;
}

#diferenciais aside{
    width: 40%;
    align-self: center;
}

#diferenciais aside p{
    font-size: 1em;
}

#pessoas-fone {
    width: 300px;
    margin-right: 120px;
}

#lista {
    width: 500px;
    margin-top: 0px;
}

.icone-lista {
    position: relative;
    top: 25px;
    right: 10px;
    margin-right: 0px;
}

#lista li{
    height: 40px;
    font-size: 1.2em;
    margin-bottom: 3px;
}

#highlighted {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 250px;
    width: 700px;
    color: white;
    padding: 25px;
    align-items: center;
    margin: auto;
    border-radius: 15px;
}

#highlighted section {
    width: 200px;
}

#hl-img-container {
    width: 150px;
}

#hl-img {
    width: 100%;
    border-radius: 5px;
}

#highlighted aside {
    width: 400px;
}

#highlighted aside * {
    margin-left: 0;
    margin-bottom: 20px;
}

/* Latest */

#latest {
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 25px 0px;
}

.latest-buttons {
    border: 3px solid rgb(89, 89, 209);
    border-radius: 5px;
    padding: 10px;
    margin: 0px 5px;
    color: rgb(89, 89, 209);
    font-weight: 600;
}

#latest p, #latest section {
    margin: 15px 0px 0px 0px;
}

#latest p {
    align-self: flex-end;
}

#latest-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lt-items {
    display: flex;
    align-items: center;;
    width: 40%;
    height: 170px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.latest-imgs {
    width: 130px;
    border-radius: 10px;
    padding: 15px;
}

#latest-group h4 {
    color: rgb(89, 89, 209);
}

.lt-items .icone-play {
    margin: 0px 15px 15px 0px;
}

.lt-tempos {
    width: 70px;
    height: 20px;
    border-radius: 13px;
    font-size: 1.1em;
    color: rgb(89, 89, 209);
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    padding-top: 6px;
    background-color: rgb(197, 197, 213);
}

/* Platforms */

#platforms {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
}

#platforms-header, #platforms-links {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
}

#platforms h2 {
    font-size: 2.7em;
    line-height: 1.3em;
    margin: 30px 0px;
}

#platforms img {
    width: 85px;
    margin: 50px;
}

#platforms-features {
    background-color: black;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.1em;
    width: 80%;
    height: 180px;
}

.icone-trend, .icone-support {
    margin-right: 10px;
}

/* Topcasters */

#topcasters {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#topcasters h2 {
    align-self: center;
}

#topcasters-group {
    display: flex;
    justify-content: space-between;
}

.containers-topcasters {
    width: 30%;
    margin: 10px;
    border-radius: 12px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containers-topcasters figure {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imgs-topcasters {
    max-height: 90%;
    max-width: 100%;
}

.topcasters-dados {
    margin-left: 20px;
    padding-bottom: 10px;
    color: white;
    border-radius: 0px 0px 10px 10px;
    align-self: flex-start;
}

.topcasters-dados * {
    padding: 20px 0px 10px 0px;
}

.symbol {
    margin: 5px;
}

/* Join Us */

#join {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join * {
    margin: 10px 0px;
}

#join h2 {
    margin-top: 30px;
}

#join p {
    width: 40%;
    text-align: center;
    line-height: 1.5em;
}

#plans-time {
    display: flex;
    border: 3px solid black;
    border-radius: 7px;
    margin: 10px;
}

#plans-time div {
    padding: 10px;
    margin: 7px;
    border-radius: 5px;
}

#plans-time div:hover {
    color: #FFF;
    background-color: rgb(89, 89, 209);
}

#plans-types {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.plans-containers {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    font-weight: 600;
}

.plans-containers ul li {
    display: flex;
    align-items: center;
}

.plans-containers p:nth-child(2) {
    font-size: 0.75em;
}

.plans-values {
    font-size: 3em;
    letter-spacing: 0.05em;
}

.plans-containers span:nth-child(2) {
    font-size: 1.5em;
}


#plan-basic {
    background-color:rgb(197, 197, 213);
    color: #000;
}

#plan-premium {
    background-color:rgb(89, 89, 209);
    color: #fff;
}

.btn-plans {
    color: #000;
    font-size: 1em;
    letter-spacing: 0.1em;
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 3px;
}

#subscribe-basic {
    color: white;
    background-color: rgb(89, 89, 209);
}

#subscribe-premium {
    color: black;
    background-color: rgb(197, 197, 213);
}

.listasPlanos {
    max-width:90%;
}

.btn-subscribe {
    padding: 15px 90px;
    border-radius: 8px;
    font-size: 0.8em;
    font-weight: 600;
    letter-spacing: 0.08em;
}